body {
  background-color: $black-color;
  color: $white-color;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  position: relative;
  font-family: "Roboto Mono", monospace;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
