  // Estilo para sobre mi 
  .sobreMi {
    border: solid $border-color 2px;
    background-color: $button-color;
  }
  .tecnologias {
    border: solid $border-color 2px;
    background-color: $button-color;
  }
  .tecnologias .techs {
    background-color: $grey-color;
  }